<h1>Create a Recipe</h1>

<%= form_for @recipe, url: {action: "create"}, html: {class: "form"} do |field| %>
  <div class="form-group row">
    <label for="recipe_name">Name:</label> <%= field.text_field :name, class: "form-control" %>
  </div>

  <h3>Ingredients</h3>
  <div id="ingredient-rows">
    <div class="form-group row ingredient-row" id="ingredient1">

      <%=field.fields_for :recipe_ingredient_joins, RecipeIngredientJoin.new do |i| %>
        <div class="col">
          <label for="ingredients">Ingredient Name:</label>
          <%= i.select(:ingredient_id, options_for_ingredients, {}, class: "form-control chosen") %>
        </div>
        <div class="col">
          <label for="quantity">Quantity:</label> 
          <%= i.text_field :quantity, class: "form-control" %>
        </div>
        <div class="col">
          <label for="unit">Unit:</label>
          <%= i.text_field :unit, class: "form-control" %>    
        </div>
      <% end %>
    </div>
  </div>
  <ion-icon name="add-circle-outline" size="large" class="add-ingredient-btn btn"></ion-icon>

  <div class="form-group row">
    <%= field.submit "Create", class: "btn btn-primary recipe-submit" %>
  </div>
<% end %>