<div class="container">
  <div class="row">
    <h1><%= @recipe.name %></h1>
    <div class="container-fluid bg-light recipe-ingredients rounded">
      <h3 style="padding: 1rem;">Ingredients</h3>
        <table class="table table-hover" id="ing-table">
          <tbody>
            <% @recipe.ingredients.each do |ingredient| %>
              <tr>
                <th scope="row">
                  <a href="/ingredients/<%= ingredient.id %>"><%= ingredient.name %></a>
                </th>
                <td>amount unit</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </ul>
    </div>
  </div>
</div>
<a href="/recipes" class="float-left btn">< Back</a>
<%= link_to 'Delete', recipe_path(@recipe), :method => :delete, class: "float-right btn" %>
<a href="/recipes/<%= @recipe.id %>/edit" class="float-right btn">Edit</a>