<div class="container">
  <div class="row">
    <h1><%= @recipe.name %></h1>
    <div class="container-fluid bg-light recipe-ingredients rounded">
      <h3 style="padding: 1rem;">Ingredients</h3>
      <ul class="list-group">
        <% @recipe.ingredients.each do |ingredient| %>
          <a href="/ingredients/<%= ingredient.id %>"><li class="list-group-item list-group-item-action"><%= ingredient.name %></li></a>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<a href="/recipes" class="float-left btn">< Back</a>
<a href="/recipes/<%= @recipe.id %>/edit" class="float-left btn">Edit</a>
<%= link_to 'Destroy', recipe_path(@recipe), :method => :delete %>