<h1>Create New Ingredient</h1>

<%= form_for @ingredient, url: {action: "create"}, html: {class: "ingredients_form"} do |field| %>
  <div class="form-group row">
    <label>Name: </label> <%= field.text_field :name %>
  </div>
   <div class="form-group row"> 
    <label>Image URL: </label> <%= field.text_field :image_url %>
  </div>
  <div class="form-group row">
    <label>Description: </label> <%= field.text_area :description, size: "60x12" %>
  </div>
  <%= field.submit "Create" %>
<% end %>